In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
url = 'https://www.imdb.com/india/top-rated-indian-movies/'

In [4]:
site = requests.get(url)

In [5]:
site

In [6]:
bs = BeautifulSoup(site.content)

In [7]:
name = []

In [8]:
b=0
for i in bs.find_all('td',class_='titleColumn'):
    if(b<100):
        name.append(i.text.split('\n')[2].strip())
        b=b+1
    else:
        break

In [9]:
name

['Jai Bhim',
 'Nayakan',
 'Pariyerum Perumal',
 'Anbe Sivam',
 'C/o Kancharapalem',
 'Kireedam',
 'Manichitrathazhu',
 'Golmaal',
 'Apur Sansar',
 'Natsamrat',
 'Sardar Udham',
 'Thevar Magan',
 'Kumbalangi Nights',
 'Black Friday',
 '#Home',
 'Pather Panchali',
 'Visaaranai',
 'Soorarai Pottru',
 'Jersey',
 '3 Idiots',
 'Asuran',
 'Kaithi',
 'Taare Zameen Par',
 'Thalapathi',
 'Sarpatta Parambarai',
 '96',
 'Drishyam 2',
 'Devasuram',
 'Dangal',
 'Peranbu',
 'Vada Chennai',
 'Aparajito',
 'Chithram',
 'Jaane Bhi Do Yaaro',
 'Pyaasa',
 'Thani Oruvan',
 'Ratsasan',
 'Guide',
 'Iruvar',
 'Spadikam',
 'Agent Sai Srinivasa Athreya',
 'Kannathil Muthamittal',
 'Chupke Chupke',
 'Mahanati',
 'Super Deluxe',
 'Aruvi',
 'Pudhu Pettai',
 'Oru Vadakkan Veeragatha',
 'Drishyam',
 'Khosla Ka Ghosla!',
 'Anniyan',
 'Kaakkaa Muttai',
 'Tumbbad',
 'Premam',
 'Mudhalvan',
 'Vikram Vedha',
 'Bangalore Days',
 'Papanasam',
 'Satya',
 'Soodhu Kavvum',
 'Mandela',
 'Angoor',
 'Dhuruvangal Pathinaaru',
 'Pithamagan',
 'Andhadhun',
 'Shahid',
 'Jigarthanda',
 'Gangs of Wasseypur',
 'Anand',
 'Paan Singh Tomar',
 'Sairat',
 'Bhaag Milkha Bhaag',
 'Maheshinte Prathikaaram',
 'Hera Pheri',
 'Theeran Adhigaaram Ondru',
 'Chhichhore',
 'Sholay',
 'Swades: We, the People',
 'Chak De! India',
 'Ustad Hotel',
 'Talvar',
 'Mughal-E-Azam',
 'Baasha',
 'Jo Jeeta Wohi Sikandar',
 'Zindagi Na Milegi Dobara',
 'Black',
 'Virumandi',
 'Charulata',
 'Nil Battey Sannata',
 'Article 15',
 'Drishyam',
 'Udaan',
 'A Wednesday',
 'Masaan',
 'Alai Payuthey',
 'Munna Bhai M.B.B.S.',
 'Sarfarosh',
 'Queen',
 'Roja',
 'Dil Chahta Hai']

In [10]:
year = []

In [11]:
b=0
for i in bs.find_all('span',class_='secondaryInfo'):
    if(b<100):
        year.append(i.text)
        b=b+1
    else:
        break

In [12]:
year

['(2021)',
 '(1987)',
 '(2018)',
 '(2003)',
 '(2018)',
 '(1989)',
 '(1993)',
 '(1979)',
 '(1959)',
 '(2016)',
 '(2021)',
 '(1992)',
 '(2019)',
 '(2004)',
 '(2021)',
 '(1955)',
 '(2015)',
 '(2020)',
 '(2019)',
 '(2009)',
 '(2019)',
 '(2019)',
 '(2007)',
 '(1991)',
 '(2021)',
 '(2018)',
 '(2021)',
 '(1993)',
 '(2016)',
 '(2018)',
 '(2018)',
 '(1956)',
 '(1988)',
 '(1983)',
 '(1957)',
 '(2015)',
 '(2018)',
 '(1965)',
 '(1997)',
 '(1995)',
 '(2019)',
 '(2002)',
 '(1975)',
 '(2018)',
 '(2019)',
 '(2016)',
 '(2006)',
 '(1989)',
 '(2013)',
 '(2006)',
 '(2005)',
 '(2014)',
 '(2018)',
 '(2015)',
 '(1999)',
 '(2017)',
 '(2014)',
 '(2015)',
 '(1998)',
 '(2013)',
 '(2021)',
 '(1982)',
 '(2016)',
 '(2003)',
 '(2018)',
 '(2012)',
 '(2014)',
 '(2012)',
 '(1971)',
 '(2012)',
 '(2016)',
 '(2013)',
 '(2016)',
 '(2000)',
 '(2017)',
 '(2019)',
 '(1975)',
 '(2004)',
 '(2007)',
 '(2012)',
 '(2015)',
 '(1960)',
 '(1995)',
 '(1992)',
 '(2011)',
 '(2005)',
 '(2004)',
 '(1964)',
 '(2015)',
 '(2019)',
 '(2015)',
 '(2010)',
 '(2008)',
 '(2015)',
 '(2000)',
 '(2003)',
 '(1999)',
 '(2013)',
 '(1992)',
 '(2001)']

In [13]:
rating = []

In [14]:
b=0
for i in bs.find_all('td', class_='ratingColumn imdbRating'):
    if(b<100):
        children=i.find('strong')
        rating.append(children.text)
        b=b+1
    else:
        break

In [15]:
rating

['8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1']

In [16]:
print(len(name),len(year),len(rating))

100 100 100

In [17]:
import pandas as pd

In [18]:
df = pd.DataFrame({'Title':name,'Year':year,'Rating':rating})

In [19]:
df

                  Title    Year Rating
0              Jai Bhim  (2021)    8.6
1               Nayakan  (1987)    8.5
2     Pariyerum Perumal  (2018)    8.5
3            Anbe Sivam  (2003)    8.5
4     C/o Kancharapalem  (2018)    8.5
..                  ...     ...    ...
95  Munna Bhai M.B.B.S.  (2003)    8.1
96            Sarfarosh  (1999)    8.1
97                Queen  (2013)    8.1
98                 Roja  (1992)    8.1
99       Dil Chahta Hai  (2001)    8.1

[100 rows x 3 columns]